<html>
<body>
<title>Books page</title>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <h1>Hello user, {{username}} !</h1>
    <h1>All books</h1>

    <form action="/booksUser" method="post">
        <b>{{#made}}
            {{made}}
        {{/made}}</b>
        <p/>

        <i>Pages:</i>
        <a href="{{url}}?&page={{previousPage}}"> previous...<a/>
        <b href="#"> {{active}}<a/> </b>
        <a href="{{url}}?&page={{nextPage}}">...next</a>
        ..{{allPages}} </p>

        <table>
            <tr>
                <th width="25">Id</th>
                <th width="120">Title</th>
                <th width="120">Author</th>
                <th width="120">Price</th>
                <th width="120">Date</th>
            </tr>
            {{#page}}
                <tr>
                    <td><b>{{id}}</b></td>
                    <td><span>{{bookTitle}}</span></td>
                    <td><span>{{bookAuthor}}</span></td>
                    <td><i>{{price}}</i></td>
                    <td><span>{{date}}</span></td>
                    <td><input type="checkbox" name="bookTitle" value="{{bookTitle}}"></td>
                </tr>
            {{/page}}
        </table>

        <b>{{#error}}
            {{error}}
        {{/error}}
        </b>

        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <p><input type="submit" value="Make an order"/></p>
    </form>
</div>

<div>
    <form action="/booksUser/userOrders" method="get">
        <input type="submit" value="My orders"/>
    </form>
</div>
<p><a href="/booksAdmin">Page admin</a></p>
</body>
</html>