<html>
<body>
<title>Edit data</title>

<a href="/homePage">Home page</a>

<div>
    <h1>Edit book</h1>

    <form action="/booksAdmin/edit/{{id}}" method="post">
        <p> {{#books}}
            <b>{{id}}</b>
            <span>{{bookTitle}}</span>
            <span>{{bookAuthor}}</span>
            <i>{{price}}</i>
            <span>{{date}}</span>
        {{/books}}
        </p>

        <p>
            {{#books}}
                <input type="text" name="bookTitle" value={{bookTitle}} />
                <input type="text" name="bookAuthor" value={{bookAuthor}}>
                <input type="text" name="price" value={{price}}>
                <input type="date" name="date" value={{date}}>
            {{/books}}
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Save</button>
        </p>
    </form>

</div>

</body>
</html>