<!DOCTYPE HTML>
<html>
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>

    <h1>Welcome, {{name}}</h1>
   <p><a href="/booksUser">Watch books</a></p>
<!--   <p><a href="/booksAdmin">Page admin</a></p>-->
   <p><a href="/loginPage">Login</a></p>
    <p><a href="/registration">Registration</a></p>
    <!--<a href="/books">books</a>-->
    <!--<a href="/main">Main page</a>-->

    <!--<a href value="/books" target="_blank">Watch books</a>-->
    <!--<a href value="/login" target="_blank">Login</a>-->
</div>
</body>
</html>